.modal-box{
    display:block;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    z-index:1001;
}
.overlay{
    display:block;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    z-index:1000;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
.title{
    font-size:24px;
}
.container{
    position: relative;
    display: flex;
    padding: 15px;
    justify-content: center;
    z-index: 1000;
}
.content{
    background-color:#fff;
    padding:10px 25px;
    /* max-width:960px; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* flex:1; */
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.body{

}
.close{
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
}